body {
    font-family: 'Times New Roman', Times, serif;

    height: 100%;
    margin: 0;
}

/* total */
input {
    border: 2px solid rgb(140, 140, 140);
}

label {
    margin-bottom: 2px;
}



/* The main box containing the layout */
.layout {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* The Left side ------------------------>*/

.sidebar {
    flex: 0 0 40%;
    position: relative;
    top: 0;
    left: 0;

}

.image1 {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 128px;
    
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 1;
}

/* the right side ------------------------>*/

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(249, 250, 251, 0.608);
}

.upper,
.end {
    height: 30vh;
    flex-shrink: 0;
}

.middle {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1;
}

/* Top Txt edit -----------------------------> */

.upper {
    display: flex;
    flex-direction: column;
}

.topText,
.topText_2 {
    width: 60%;
    font-size: clamp(12px, 2vw, 20px);
    margin-left: 54px;
    font-weight: 700;

}

.topText {
    margin-top: 54px;

}

/* Middle Part ---------------------------------> */
.middle {
    padding-top: 12px;
    padding-left: 54px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    box-shadow:
        0 -8px 15px rgba(0, 0, 0, 0.12),
        0 8px 15px rgba(0, 0, 0, 0.12);
    position: relative;
}

.midTop,
.midDetails,
.bottomDetails {
    display: flex;
    flex-direction: row;
    gap: 84px;
}

.doThis {
    font-size: 20px;
    font-weight: 700;
}


.midDetails,
.bottomDetails {
    margin-top: 12px;
}


#name,
#email,
#number,
#password,
#ConfirmPassword {
    width: 220px;
    border-radius: 6px;
    padding: 6px;
}

.midTopLeft,
.midTopRight,
.Emails,
.number,
.PasswordBox,
.confirmPasswordBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* End Box -------------------------------------> */

.end {
    padding-top: 24px;
    padding-left: 54px;
    background-color: rgb(249, 250, 251);
}

.button {
    background-color: #596D48;
    padding: 8px;
    padding-left: 36px;
    padding-right: 36px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(232, 232, 232);
    box-shadow: 5px 5px 15px gray;
}

.login {
    color: rgb(56, 56, 56);
    font-size: 18px;
    font-weight: 600;
}

input:focus,
input:active {
    border: 2px solid rgb(35, 119, 255);
    box-shadow: 2px 2px 6px rgb(175, 175, 175);
    outline: none;
}