body {
    font-family: 'Times New Roman', Times, serif;

    height: 100%;
    margin: 0;
}

/* The main box containing the layout */
.layout {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* The Left side ------------------------>*/

.sidebar {
    flex: 0 0 40%;
}

.image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* the right side ------------------------>*/

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(249, 250, 251, 0.608);
    border: 2px solid red;
}

.upper,
.end {
    height: 30vh;
    flex-shrink: 0;
    border: 1px solid black;
}

.middle {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1;
    border: 1px solid orange;
}

/* Top Txt edit -----------------------------> */

.upper {
    display: flex;
    flex-direction: column;
}

.topText,
.topText_2 {
    width: 60%;
    font-size: clamp(12px, 2vw, 20px);
    margin-left: 54px;
    font-weight: 700;

}

.topText {
    margin-top: 54px;

}

/* Middle Part ---------------------------------> */
.middle {
    padding-top: 24px;
    padding-left: 54px;
    display: flex;
    flex-direction: column;

}

.midTop,
.midDetails,
.bottomDetails {
    display: flex;
    flex-direction: row;
    gap: 84px;
}

.doThis {
    width: 60%;
    font-weight: 700;
}

.firstName,
.SecondName {
    margin-bottom: 4px;
}

.midDetails,
.bottomDetails {
    margin-top: 12px;
}


#name,
#email,
#number,
#password,
#ConfirmPassword {
    width: 220px;
    border-radius: 6px;
    padding: 4px;
}

.midTopLeft,
.midTopRight,
.Emails,
.number,
.PasswordBox,
.confirmPasswordBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* End Box -------------------------------------> */

